@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

.container {
    display: grid;
    place-items: center;
    margin: 3.5rem 10rem;
    border: 5rem solid #FAD883;
    background-color: antiquewhite;
    padding: 100px;
    box-shadow: 3px 3px 25px 11px rgba(39, 30, 6, 0.35);
    border-radius: 15px;
}

.container .title {
    position: absolute;
    top: 15%;
}

.quotes {
    font-size: 35px;
    text-align: center;
    font-style: oblique;
}

.author::before, .quotes::before {
    content: '" ';
    font-size: 2.5rem;
    color: #d34e4e;
    font-style: oblique;
}

.author {
    font-size: 2rem;
    margin: 15px 0;
    border-bottom: 3px dashed #d8cb84;
}

.container button {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.container button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.container button span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.container button svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.container button:hover::before {
    width: 100%;
    background: #b1dae7;
}

.container button:active {
    transform: scale(0.95);
}